

/*******************************************************************************
Theme Styles
*******************************************************************************/
#title{
      font-size: 20px;
      color: orange;
      text-align: center;
}
#subtitle{
      font-size: 16px;
       font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
       color: red;
